
*{ box-sizing: border-box; 
    
}

section {
    margin-top: 80px;
}

.container {
    background-color:lightcyan;
   
}


.container-fluid {
    display: flex;
    align-items: end;
    justify-content: center;
}

img {
    border-radius: 10px;
    
}
#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }
  